@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
}

/* Transition */
body,
.info__content,
.btn,
.container {
  transition: var(--transition);
}
