@media (prefers-color-scheme: dark) {
  body {
    /* background-image: url("../img/annie-spratt-vs6a4EHj_Ro-unsplash.jpg") !important; */
    background-color: var(--bg-dark);
  }

  .container {
    background-color: var(--bg-dark);
    color: var(--bg-light);
  }

  .skills:nth-child(even) {
    background-color: var(--bg-soft-dark);
  }

  .img__style {
    color: var(--soft-dark);
  }
}

@media (prefers-color-scheme: light) {
  body {
    /* background-image: url("../img/MIO-ITO.webp") !important; */
    background-color: var(--bg-light);
  }

  .container {
    background-color: var(--bg-light);
    color: var(--bg-dark);
  }

  .skills:nth-child(even) {
    background-color: var(--white);
  }

  .img__style {
    color: var(--white);
  }
}
