/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Styling */
body,
html {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.7em;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2, h3 {
    padding-bottom: 20px;
}

p {
    margin: 10px 0px;
}

/* Navbar Styling */
#navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #333;
    color: #fff;
    border-radius: 5px;
    position: sticky;
    top: 0;
    overflow: hidden;
}

#navbar a {
    color: #fff; 
    text-decoration: none;
    padding: 15px 20px;
}

#navbar h1 {
    float: left;
    padding-top: 20px;
}

#navbar ul {
list-style: none;
float: right;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
    background: #444;
    color: #FF9472;
}

/* Utility Classes */
.container {
    margin:  auto;
    max-width: 1000px;
    overflow: auto;
    padding: 0 20px;
}

/* button style */
.btn {
    background: #44cc66;
    color: #fff;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    color: #f4f4f4;
    background: #4c6ca0;
}


/* Showcase */
#showcase {
    background: url('../')
}