@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

body {
  color: #444;
  background-image: url("../img/MIO-ITO.webp");
  background-size: cover;
  background-repeat: no-repeat; }

.info__content {
  color: #121212;
  text-shadow: #e5a37d 0 0 10px;
  transition: all 0.2s; }

.container {
  padding: 10% 0; }

.info__img {
  height: 15rem;
  width: 15rem;
  border-radius: 50%; }

@media (prefers-color-scheme: dark) {
  body {
    background-image: url("../img/annie-spratt-vs6a4EHj_Ro-unsplash.jpg") !important;
    transition: all 0.2s; }
  .container {
    background-color: #121212;
    color: #ccc;
    transition: all 0.2s; }
  .info__content {
    color: #f0eeee;
    text-shadow: #45566b 0 0 10px;
    transition: all 0.2s; } }
