*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  // defines what 1rem is
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
  transition: 0.2s;
}

body {
  height: 100vh;
  width: 100%;
  color: $color-grey-dark-3;
  background-image: url('../img/MIO-ITO.webp');
  background-size: cover;
  background-repeat: no-repeat;
  // background-color: $color-grey-light-1;
  transition: 0.2s;
}

.container {
  display: grid;
  grid-template-rows: min-content 1fr;
}

.info {
  display: flex;

  align-items: center; // Align Vertically
  justify-content: space-evenly;
  margin: 5rem 0;

  &__img {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
  }

  &__content {
    & .name {
      font-size: 3.5rem;
    }

    & .title {
      font-size: 2.5rem;
    }

    & .sections {
      display: flex;
      justify-content: space-evenly;
      padding: 1rem 0;

      & .fas,
      & .fab {
        font-size: 2.8rem;
        color: $color-grey-dark-3;
      }
    }
  }
}

.bio {
  justify-self: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  & p {
    font-size: 2rem;
    margin: 2rem 3rem;
  }

  grid-row: 2 / -1;
  grid-column: 1 / -1;

  &:target {
    opacity: 1;
    visibility: visible;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 3;
  }
}

.projects {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  grid-row: 2 / -1;
  grid-column: 1 / -1;

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  border-radius: 2rem;

  &:target {
    opacity: 1;
    visibility: visible;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 3;
  }

  .project {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & a {
      display: grid;
      justify-self: center;
      gap: 1rem;
      text-decoration: none;
    }

    .fas,
    .fab {
      font-size: 5rem;
      color: $color-grey-dark-1;
      justify-self: center;
    }

    &__title {
      font-size: 3rem;
      color: $color-grey-dark-1;
    }
  }
}

.overlay {
  width: 90%;
  justify-self: center; // align horizontally

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  box-shadow: 0 2rem 4rem rgba(#000000, 0.2);
  border-radius: 2rem;
}
