// Dark Theme
@media (prefers-color-scheme: dark) {
  body {
    background-image: url('../img/annie-spratt-vs6a4EHj_Ro-unsplash.jpg') !important;
    transition: all 0.2s;
  }

  .container {
    background-color: $color-dark-1;
    color: $color-grey-light-4;
    transition: all 0.2s;
  }

  .info__content {
    color: $color-grey-light-3;
    text-shadow: $glow-dark;
    transition: all 0.2s;
  }
}
