* {
    box-sizing: border-box;
}

body {
    height: 700px;
    text-align: center;
    background-color: teal;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    line-height: 1.6em;
    /* border line color & radius */
    border: 4px black solid;
    border-radius: 10px;
    /* 
    background-image: url(URL GOES HERE)
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    /* background */

}

/* .container {
    max-width: 220px;
    margin: auto;
    background-color: yellow;
} */


/* Navbar Styling */
.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #4c6ca0;
    border-radius: 5px;
    overflow: auto;
    position: sticky;
    top: 0;
}

.navbar li {
    float: left;
}

.navbar li a {
    color: #fff; 
    display: block;
    text-decoration: none;
    padding: 15px 20px;
}

.navbar li a:hover {
    background-color: #446190;
    color: #f4f4f4;
}

/* button style */
.btn {
    background: #44cc66;
    color: #fff;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    color: #f4f4f4;
    background: #4c6ca0;
}

/* Side Menu */
.side-menu {
    list-style: none;
    border: 1px #ddd solid;
    border-radius: 10px;
    width: 300px;
    padding: 20px;

}

.side-menu li {
    font-size: 18px;
    line-height: 2.4em;
    border-bottom: dotted 1px #ddd;
}

.side-menu li:last-child {
    border: none;
}

.side-menu li a {
    color: #333;
    text-decoration: none;
}

.side-menu li a:hover {
    color: coral;
}

/*  */