@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

  li::marker {
    content: '';
  }

body {
  color: #444;
  background-image: url("../public/img/MIO-ITO.webp");
  background-size: cover;
  background-repeat: no-repeat; 
}

.h1 {font-size: calc(2.1rem + 1.5vw);}
.h2 {font-size: calc(2.235rem + .9vw);}


.section-icons { 
  font-size: 2rem;
  text-align: center;
  /* display: inline-flex; */
  align-items: center;
  margin: 2.5rem;
}

.section-icons:hover {
  color: #35a79a;
}

.info__content {
  text-shadow: #e5a37d 0 0 10px;
  transition: all 0.2s; 
  color: #121212;
  padding: 2rem 0;
}
  
.info__img {
  height: 15rem;
  width: 15rem;
  /* border-radius: 50%;  */
  clip-path: polygon(100% 0, 50% 100%, 0 0%);
}

.navbar { 
  /* padding: 2rem 0rem; */
  background-color: #232323;
}

.nav-item {
  text-align: center;

}

.row {
  padding: 2rem 0;
}

@media (prefers-color-scheme: dark) {
  body {
    /* background-image: url("../img/annie-spratt-vs6a4EHj_Ro-unsplash.jpg") !important; */
    color: #e3e3e3;
    transition: all 0.2s; }

  a { color: #f0eeee; }
  a:hover { color: #35a79a; }

  .nav {
    background-color: #232323;
  }
  .container-fluid {
    background-color: #121212;
    color: #ccc;
    transition: all 0.2s; 
    padding-left: 0;
    padding-right: 0;
  }

  .info__content {
    color: #f0eeee;
    text-shadow: #45566b 0 0 10px;
    transition: all 0.2s; } 

  
  /* .col {
    background-color: #333;
  } */

  }
